
<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @listing.image.url %>		
		</div>
	</div>
	<div class="col-md-6">
		<h2><%= @listing.name %></h2>
		<h3><%= number_to_currency(@listing.price) %></h3>
		<br>
		<p><%= @listing.description %></p><br>
		<%= link_to 'Compre agora!', new_listing_order_path(@listing), class: "btn btn-success" %>
	</div>
</div>

<% if current_user == @listing.user %>
	<%= link_to 'Editar', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>

<%= link_to 'Voltar', listings_path, class: "btn btn-link" %>
